/*=============================================
=            Font family                      =
=============================================*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Work+Sans:wght@300;400&display=swap");

@font-face {
    font-family: "ElegantIcons";
    src: url("../asserts/fonts/ElegantIcons/ElegantIcons.eot");
    src: url("../asserts/fonts/ElegantIcons/ElegantIcons.eot?#iefix") format("embedded-opentype"), url("../asserts/fonts/ElegantIcons/ElegantIcons.woff") format("woff"),
        url("../asserts/fonts/ElegantIcons/ElegantIcons.ttf") format("truetype"), url("../asserts/fonts/ElegantIcons/ElegantIcons.svg#ElegantIcons") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: "ElegantIcons";
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*=============================================
=            Global Style                      =
=============================================*/
html {
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
}
body {
    font-family: Arial, sans-serif !important;
    color: #747474 !important;
    -webkit-font-smoothing: antialiased;
}

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #1e2125;
    background-color: #f6f8f8 !important;
}

select:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.title-section {
    color: #00b39b;
    font: 300 2.125rem "Work Sans", sans-serif;
    letter-spacing: -0.3px;
    text-align: center;
}

.description {
    max-width: 450px;
    font: 400 0.875em/1.7142857143 "Roboto", Arial, sans-serif;
}

/*=============================================
=                 Header                      =
=============================================*/

.header-nav {
    box-shadow: none;
    background: hsla(0, 0%, 100%, 0.98);
    top: 0;
    width: 100%;
    z-index: 9999999999;
}

.navbar-brand,
.navbar-toggler {
    z-index: 99999;
}

.logo-docplanner {
    width: 215px;
    height: 33px;
}

.is-menu .logo-docplanner {
    filter: brightness(200%) saturate(0) contrast(1000%) grayscale(100%);
    -webkit-filter: brightness(200%) saturate(0) contrast(1000%) grayscale(100%);
}

.collapsing {
    transition: transform 0.2s ease 0s !important;
    transform: translateY(-100%) !important;
    overflow-y: auto !important;
    -webkit-transition: transform 0.2s ease 0s !important;
    -moz-transition: transform 0.2s ease 0s !important;
    -ms-transition: transform 0.2s ease 0s !important;
    -o-transition: transform 0.2s ease 0s !important;
    -webkit-transform: translateY(-100%) !important;
    -moz-transform: translateY(-100%) !important;
    -ms-transform: translateY(-100%) !important;
    -o-transform: translateY(-100%) !important;
}
.is-menu .collapsing {
    transform: translate(0) !important;
    -webkit-transform: translate(0) !important;
    -moz-transform: translate(0) !important;
    -ms-transform: translate(0) !important;
    -o-transform: translate(0) !important;
}

.main-menu {
    font: 400 0.9375rem/2em Arial, sans-serif !important;
    color: #ababab;
    width: 100%;
}

.dropdown-menu {
    color: #ffffff !important;
    background-color: transparent !important;
    font: 400 0.75rem/2em Arial, sans-serif !important;
    z-index: 1;
    left: -58px !important;
    min-width: 220px !important;
    display: block !important;
}

.dropdown-item {
    color: #ababab !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}
/**/

.icon_menu,
.icon_menu:after,
.icon_menu:before {
    width: 24px;
    height: 2px;
    background-color: #00b39b;
    border-radius: 2px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.is-menu .icon_menu,
.is-menu .icon_menu:after,
.is-menu .icon_menu:before {
    background: white;
}

.is-menu .icon_menu {
    transform: translate3d(0, 7px, 0) rotate(135deg);
    transition-delay: 0.1s;
    -webkit-transform: translate3d(0, 7px, 0) rotate(135deg);
    -moz-transform: translate3d(0, 7px, 0) rotate(135deg);
    -ms-transform: translate3d(0, 7px, 0) rotate(135deg);
    -o-transform: translate3d(0, 7px, 0) rotate(135deg);
}
.is-menu .icon_menu:before {
    transition-delay: 0s;
    opacity: 0;
}
.is-menu .icon_menu:after {
    transform: translate3d(0, -14px, 0) rotate(-270deg);
    transition-delay: 0.1s;
    -webkit-transform: translate3d(0, -14px, 0) rotate(-270deg);
    -moz-transform: translate3d(0, -14px, 0) rotate(-270deg);
    -ms-transform: translate3d(0, -14px, 0) rotate(-270deg);
    -o-transform: translate3d(0, -14px, 0) rotate(-270deg);
}

.icon_menu:after,
.icon_menu:before {
    content: "";
    display: block;

    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.icon_menu:before {
    top: 7px;
    transition: opacity 0.15s ease 0.4s;
    -webkit-transition: opacity 0.15s ease 0.4s;
    -moz-transition: opacity 0.15s ease 0.4s;
    -ms-transition: opacity 0.15s ease 0.4s;
    -o-transition: opacity 0.15s ease 0.4s;
}
.icon_menu:after {
    bottom: -14px;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navbar-collapse {
    position: absolute;
    top: 0;
    left: 0;
    background: #00b39b;
    padding: 97px 0 0;
    height: 120vh;
}

.nav-item {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
    width: 100%;
    text-align: center;
}

.navbar-light .navbar-nav .nav-link,
.dropdown-item {
    color: hsla(0, 0%, 100%, 0.8) !important;
    padding-bottom: 22px;
    transition: opacity 0.2s ease 0s !important;
    -webkit-transition: opacity 0.2s ease 0s !important;
    -moz-transition: opacity 0.2s ease 0s !important;
    -ms-transition: opacity 0.2s ease 0s !important;
    -o-transition: opacity 0.2s ease 0s !important;
    opacity: 0;
}

.is-menu .navbar-light .navbar-nav .nav-link,
.is-menu .dropdown-item {
    opacity: 1;
}

/*=============================================
=                 Section Lead                =
=============================================*/

#lead {
    margin: 5rem auto 3.75rem;
}

#lead h1 {
    margin: 0.7em 0;
}

.lead-p {
    margin: 0.8em 0;
    line-height: 1.75;
    font-weight: 400;
}

/*=============================================
=                 Section Services            =
=============================================*/

.services-item {
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
}
.services-item .c11 {
    color: white;
    padding: 1.375em 1.25em 0;
    border-radius: 10px;
    height: 338px;
    background: #1b2734;
}

.services-item:nth-child(1) .c11 {
    background: #00ccb1;
}

.services-item:nth-child(2) .c11 {
    background: #3d83df;
}

.services-item h1 {
    font: 400 1.625em "Work Sans", sans-serif;

    margin: 0.3em 0;
    letter-spacing: -0.3px;
}

.services-item h2 {
    font: 300 1.5em/1.2 "Work Sans", sans-serif;
    letter-spacing: -0.3px;
}

.select-style {
    padding: 0 2em 0 0;
    width: fit-content;
    overflow-x: hidden;
    bottom: 87px;
}
.select-style:last-child {
    bottom: 40px;
}

.services-item select {
    -webkit-appearance: none;
    font: 400 1.2rem Arial, sans-serif !important;
}

.arrow_carrot-down:before {
    font-family: "ElegantIcons";

    content: "\33";
    font-size: 1.1rem;
}

/*=============================================
=                 Section Bands               =
=============================================*/

.bands-title {
    color: #00b39b;
    margin: 0.25em 0 0.35em;
    font: 300 1.625em "Work Sans", sans-serif;
    letter-spacing: -0.3px;
    padding-right: 1em;
}

.brands-list li {
    padding: 5px 0 13px;

    width: 50%;
}
.brands-list a {
    padding: 5px 0;
}
a.link-gipo {
    padding-left: 2rem;
}

.brands-list a svg {
    height: 20px;
    width: auto;
    max-width: 100%;
    padding-left: 10px;
}

.brands-list a path {
    transition: all 0.2s ease 0s;
    fill: hsla(0, 0%, 67%, 0.7);
}
.brands-list a:hover path {
    fill: #00bfa5;
}

.band-logo {
    transition: all 0.2s ease 0s;
    filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%) contrast(0);
    -webkit-filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%) contrast(0);
    opacity: 0.55;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
}

.band-logo:hover {
    filter: none;
    opacity: 1;
}
.tuotempo {
    height: 16px;
}

/*=============================================
=                 Section States               =
=============================================*/

#stats {
    background: linear-gradient(-45deg, rgba(0, 204, 177, 0.17) 5%, rgba(61, 199, 223, 0.18)), url(../asserts/img/logo.png) bottom -248px left 3rem no-repeat;
    height: 100%;
    padding-bottom: 34rem;
}

#stats .title-section,
#stats .description {
    text-align: center;
}
#stats .description {
    margin: 1.6em auto;
}
.list-stats {
    top: auto;
    width: 100%;
}

.stats-item {
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
    padding: 3rem 0.75rem 0.75rem;

    height: 245px;
    font-size: 0.8125em;

    text-align: center;
}

.last-item {
    margin-top: -1rem !important;
}
.stats-item img {
    max-width: 28px;

    height: auto;
}
.stats-item h3 {
    font: 300 1.125em "Work Sans", sans-serif;

    color: #00b39b;
    margin: 0.5em 0;
}

/*=============================================
=                 Section offices              =
=============================================*/
.office-Title {
    max-width: 498px;
    font-size: 0.875em;
}
.office-Title h1 {
    font-size: 2.1428571429em;
    line-height: 1.3;
}

#office .description {
    font: 400 1em/1.7142857143 "Roboto", Arial, sans-serif;
    max-width: 498px;
    margin: 1.6em 0;
}
.figure {
    width: 30%;
    margin-right: 0.5rem;
    outline: none;
}
.office-desc {
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.6666666667;
    padding: 1.1111111111em;
}

.btn-open {
    font: 700 0.625rem/1 Arial, sans-serif !important;
    background: #3d83df !important;

    letter-spacing: 0.04em !important;
    padding: 1em 1.5em !important;
}

.slick-track {
    margin: 0 100px !important;
}
.slick-slide {
    width: 270px;
}
/*=============================================
=                 Footer                       =
=============================================*/

footer h1 {
    color: #333;
    margin: 5rem auto 0.75em;
    font: 300 1.875rem "Work Sans", sans-serif;
}

footer .btn-open {
    font: 700 0.75rem "Work Sans", sans-serif !important;
}
.footer-countries {
    font-size: 0.75rem;

    color: #ababab;
    margin-top: 5rem;
}
footer p {
    margin-bottom: 0.4em;
}

/*=============================================
=        Responsive                           =
=============================================*/

@media only screen and (min-width: 320px) and (max-width: 481px) {
    /* Section Lead */
    #lead h1 {
        font-size: 1.875em;
        margin: 0.7em 0;
    }

    /*Section State*/

    .stats-item {
        padding-top: 2rem;
        height: 237px;
    }
    .slick-track {
        margin: 0 35px !important;
    }
}

@media only screen and (min-width: 480px) {
    .slick-track {
        margin: 0 58px !important;
    }

    .brands-list {
        width: 100%;
    }
    .brands-list li {
        width: 25%;
    }
}

@media screen and (min-width: 576px) {
    /*Global css*/
    section .container,
    .list-office,
    .container-nav {
        max-width: 1015px;
    }

    /*Header*/
    .logo-docplanner {
        width: 268px;
    }

    .navbar-collapse {
        position: static;
        background: #ffffff;
        padding: 0;
        height: auto;
    }
    .main-menu {
        width: max-content;
    }

    .dropdown .dropdown-menu {
        display: none !important;
        padding-top: 10px;
        margin-left: -39px;
        background: #fff !important;
        box-shadow: 0 5px 10px 0 #d3cfc9;
    }
    .dropdown:hover .dropdown-menu {
        display: block !important;
    }

    .nav-item {
        width: auto;
        text-align: left;
    }

    .navbar-light .navbar-nav .nav-link,
    .dropdown-item {
        color: #ababab !important;
        opacity: 1;
    }
    .navbar-light .navbar-nav .nav-link:focus,
    .navbar-light .navbar-nav .nav-link:active {
        color: #00b39b !important;
    }

    /*Section Lead*/
    #lead h1 {
        margin: 0.7em 0;
    }

    /*Section Services*/
    .services-item .c11 {
        height: 406px;
    }

    .select-style {
        bottom: 75px;
    }

    .select-style:last-child {
        bottom: 33px;
    }
    /*Section Bands*/
    a.link-gipo {
        padding-left: 1rem;
    }

    /*Section States*/
    #stats {
        padding-bottom: 34rem;
        background: linear-gradient(-45deg, rgba(0, 204, 177, 0.17) 5%, rgba(61, 199, 223, 0.18)), url(../asserts/img/logo.png) bottom -88px left 1rem no-repeat;
    }

    #stats .title-section,
    #stats .description {
        text-align: left;
    }

    .stats-item {
        padding: 2rem 0.75rem 0.75rem;
    }
    .stats-item h3 {
        font: 300 1.8461538462em "Work Sans", sans-serif;
    }
}

@media (min-width: 768px) {
    .services-item .c11 {
        height: 331px;
    }
    .select-style {
        width: fit-content;
        bottom: 59px;
    }

    .select-style:last-child {
        bottom: 19px;
    }
}

@media screen and (min-width: 577px) and (max-width: 991px) {
    /*Section States*/

    #stats {
        padding-bottom: 34rem;
    }
    #stats .title-section,
    #stats .description {
        text-align: center;
    }
    .list-stats {
        top: auto;
    }
}

@media screen and (min-width: 992px) {
    /*Section States*/
    #stats {
        padding-bottom: 24rem;
    }
    .list-stats {
        top: 3rem;
        right: 9rem;
        width: 80%;
    }

    /* Section Services */
    .services-item .c11 {
        height: 305px;
    }
}

@media screen and (max-width: 1062px) {
    .list-office {
        max-width: 1015px;
    }
}